<%- include('partials/navigation.ejs') %>
<h1>Add a New Book</h1>
<form action="/book/add" method="post">
    <label for="title">Title:</label>
    <input type="text" id="title" name="title" required><br>
    <label for="authorId">Author ID:</label>
    <input type="number" id="authorId" name="authorId" required><br>
    <label for="publishingYear">Publishing Year:</label>
    <input type="number" id="publishingYear" name="publishingYear" required><br>
    <button type="submit">Add Book</button>
</form>
