<%- include('partials/navigation.ejs') %>
<div>
    <h1>Book Details</h1>
    <p>Title: <%= book.title %></p>
    <p>Author ID: <%= book.authorId %></p>
    <p>Publishing Year: <%= book.publishingYear %></p>
</div>
